@import "../../index.less";

.login-page {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: @light-green;
  &__window {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 425px;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: @white;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  &__title {
    margin: 20px;
  }
  &__circle1 {
    height: 425px;
    width: 425px;
    position: absolute;
    bottom: -212.5px;
    right: -212.5px;
    border-radius: 50%;
    background: @bg-circle1;
    z-index: 10;
  }
  &__circle2 {
    height: 350px;
    width: 350px;
    position: absolute;
    bottom: -175px;
    right: -175px;
    border-radius: 50%;
    background: @bg-circle2;
    z-index: 20;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  &__button {
    width: 100%;
    background-color: @dark-green;
    border: none;
    z-index: 100;
    &:focus {
      background-color: @dark-green;
    }
    &:hover {
      background-color: @dark-green;
    }
  }
  &__input {
    z-index: 100;
  }
  &__links {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }
  &__navlink {
    color: @dark-green;
    z-index: 100;
    text-decoration: underline;
  }
}
